/* Increase padding for button container on mobile */
@media (max-width: 768px) {
  .button-container {
    padding: 1px;
  }
}

/* Increase spacing between buttons */
.button {
  margin: 3px;
  padding: px px;
}

/* Additional mobile-specific adjustments */
@media (max-width: 768px) {
  .button {
    margin: 3px;
    padding: px px;
    width: calc(% - 30px); /* Make buttons take up half the width minus margins */
    display: inline-block;
  }
}

html {
    background-color: #010061ff !important;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* FOR THE ANNOUNCEMENT BAR HEADER */

.announcement {
    background-color: #FFFFFF !important;
    position: center;
    text-align: center;
    padding: 10px 5px;
    top: 0px;
    font-size: 18px;
}

.section {
    height: 100vh;
}

.middle {
    text-align: center;
    padding-top: 33vh;
}

.is-as {
    background-color: #010061ff !important;
}

.as-title {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 30px !important;
}

.footer1 {
    background-color: #010061ff !important;
    padding: 13.37px 0;
}

.footer2 {
    background-color: #010061ff !important;
    padding: 10px 10px;
    font-size: 0.8rem;
}

.footer3 {
    background-color: #010061ff !important;
    padding: 10px 10px;
    font-size: 0.8rem;
}

.card {
    background-color: #010061ff !important;
    box-shadow: none;
    box-sizing: 256px 256px;
}

.image {
    max-width: 100%;
    width: auto;
}

.subtitle {
    font-size: 1.15rem;
}

.logo {
    width: 210px !important;
}

.name {
    padding-top: 0.3rem;
    font-size: 1.15rem;
    font-weight: 1rem;
    color: #000000;
    font-size-adjust: 100%;
}

.role {
    font-size: 1.05rem;
    font-weight: 1rem;
    color: #000000;
}

.bio {
    font-size: .95rem;
    color: #404040;
}

.box2 {
    background-color: #010061ff;
    box-shadow: #010061ff;
}

h1, h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.tile.is-parent {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 230px;
    margin: auto;
}

.tile.is-parent-homepage {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 550px;
    margin: auto;
}

.box {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.report {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 30px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    font-size: 1.1rem;
    padding-left: 1rem;
    list-style-position: outside;
    list-style-type: disc;
}

ul {
    font-size: 1.1rem;
    padding-left: 1rem;
    list-style-position: outside;
    list-style-type: disc;
}

a {
    text-decoration-line: underline;
}

div.header-buttons a {
    text-decoration-line: none;
}

div.portfolio ul li a {
    font-weight: bold;
}

div.portfolio ul li a {
    font-weight: bold;
}


/* Container holding the image and the text */

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 24px;
}

.container ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }

.container li {
        padding: 2px 2px;
        text-align: left;
    }


/* Centered text */

.centered {
    font-size: 1.15rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* For small screens need the logo tagline to be on one line  */

@media screen and (max-width: 1100px) {
    .centered {
        width: 250px;
    }
}