html {
  background-color: #010061ff !important;
}
body {
  font-family: 'PT Sans', sans-serif;
}
.section {
  height: 100vh;
}
.middle {
  text-align: center;
  padding-top: 33vh;
}
.is-as {
  background-color: #010061ff !important;
}
.as-title {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px !important;
}
.footer1 {
 background-color: #010061ff !important;
 padding: 13.37px 0;
}
.footer2 {
 background-color: #010061ff !important;
 padding: 10px 10px;
 font-size: 0.8rem;
}
.footer3 {
 background-color: #010061ff !important;
 padding: 10px 10px;
 font-size: 0.8rem;
}
.card {
background-color: #010061ff !important;
box-shadow: none;
box-sizing: 256px 256px;
}
.image {
max-width: 100%; width: auto;
}
.subtitle {
font-size: 1.15rem;
}
.logo {
width: 210px !important;
}
.name {
padding-top: 0.3rem;
font-size: 1.15rem;
font-weight: 1rem;
color: #000000; 
font-size-adjust: 100%;
}
.role {
font-size: 1.05rem;
font-weight: 1rem;
color: #000000;
}
.bio {
font-size: .95rem;
color: #404040;
} 
.box2 {
background-color: #010061ff;
box-shadow: #010061ff;
}
h3 {
font-size: 1.2rem;
}
.tile.is-parent {
	padding-left: 5px;
	padding-right: 5px;
  max-width: 230px;
  margin: auto;
}
.box {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.report {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 30px;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button {
  margin-top: 3px;
  font-size: 1.05rem;
}
.copy {
  font-size: 1.1rem;
}