html {
    background-color: #010061ff!important
}

body {
    font-family: 'PT Sans', sans-serif
}

.section {
    height: 100vh
}

.middle {
    text-align: center;
    padding-top: 33vh
}

.is-as {
    background-color: #010061ff!important
}

.as-title {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 30px!important
}

.footer1 {
    background-color: #010061ff!important;
    padding: 13.37px 0
}

.footer2 {
    background-color: #010061ff!important;
    padding: 10px 10px;
    font-size: .8rem
}

.footer3 {
    background-color: #010061ff!important;
    padding: 10px 10px;
    font-size: .8rem
}

.card {
    background-color: #010061ff!important;
    box-shadow: none;
    box-sizing: 256px 256px
}

.image {
    max-width: 100%;
    width: auto
}

.logo {
    width: 210px!important
}

.name {
    padding-top: .3rem;
    font-size: 1.15rem;
    font-weight: 1rem;
    color: #000;
    font-size-adjust: 100%
}

.role {
    font-size: 1.05rem;
    font-weight: 1rem;
    color: #000
}

.box2 {
    background-color: #010061ff;
    box-shadow: #010061ff
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1em
}

.tile.is-parent {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 230px;
    margin: auto
}

.tile.is-parent-homepage {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 550px;
    margin: auto
}

.box {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px
}

ul {
    font-size: 1.1rem;
    padding-left: 1rem;
    list-style-position: outside;
    list-style-type: disc;
}

a {
    text-decoration-line: underline
}

div.header-buttons a {
    text-decoration-line: none
}

div.portfolio ul li a {
    font-weight: bold;
}

.container {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 24px
}

.centered {
    font-size: 1.15rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%)
}